/*
comentario de CSS

*/

/*

selector {
    propiedad: valor;
    propiedad: valor;

}


*/

body {
    background-color: #F9F1B2
}
h1 {
    color:#bb1a1a

}
tr{

background-color:#00C5FF
}
h3{
    color:#00C5FF
}